<section>
  <div class="values-wraper">
    <span [ngStyle]="{'color': value2 < valMin ? 'red': 'blue'}">Value:{{value2}}</span>
    <span  [ngStyle]="{'color': value1 > valMax ? 'red': 'blue'}">Value:{{value1}}</span>
  </div>
  <div class="wrap-slider">
    <fa-icon class="icons" [icon]="minValueIcon"></fa-icon>
    <app-slider [min]="valMin" [max]="valMax" [value]="[value1, value2]" [disable]="false" [width]="320"
      (setValue)="setValues($event)"></app-slider>
    <fa-icon class="icons" [icon]="maxValueIcon"></fa-icon>
  </div>
</section>